<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	</head>

	<style type="text/css">
	body {
        background-color: #E6E6E6;
    }

	</style>
	<body>
	
			<h1 class="text-center title">Add Comment</h1>
	
	
	
			<div class="row mt-5">
				<div class="text-justify col ">
					<form role="form" action="" method="POST">
						{% csrf_token %} 
						<table class="table table-bordered table-striped">
							<tbody>
								<tr>
									<th>Comment</th>
									<th>{{ blog_form.comment}}</th>
								</tr>
								
							</tbody>
						</table>
						<button type="submit" class="btn btn-success">Save</button>
					</form>
				</div>	
			</div>
		</div>
	</body>
</html>


